version: '2'
services:
  web:
    image: odoo:10.0
    depends_on:
      - mydb
    ports:
      - "8069:8069"
    environment:
    - HOST=mydb
    - USER=odoo
    - PASSWORD=myodoo
  mydb:
    image: postgres:9.4
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=myodoo
  
  wordpress:
    image: wordpress
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_PASSWORD: example

 owncloud:
    image: owncloud
    ports:
      - 8084:80

  mysql:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: example

  owncloud:
    image: owncloud
    ports:
      - 8088:80
